*{margin: 0; padding: 0;}
html,body{width: 100%;height: 100%;}
header{
    background-color: yellow;
    width: 100%;
    height: 50px;
    position: relative;
    display: table;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
}

nav{
    width: 50%;
    height: 50px;
    display: table;
    margin: 0 auto;
    position: relative;
}
a{
    width: 59px;
    height: 49px;
    display: table-cell;
    position: relative;
    border: solid 1px;
    text-align: center;
    text-decoration: none;
    background-color: yellow;
}
a:hover{cursor: pointer;background-color: white;}
form{
    width: 200px;
    height: 50px;
    background-color: white;
    position: absolute;
    display: inline-block;
}
p{
    background-image: url(./tải\ xuống.jpg);
    width: 300px;
    height: 180px;
    box-sizing: cover;
    margin: 0 auto;
    margin-top: 50px;
}
h2{
    text-align: center;
}


